.notFound {
  padding: 10px;
}

.hnFeed {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
}

.hnFeedHeader {
    height: 150px;
    border: 1px solid;
    background-color: #3A3A3A;
}

.hnFeedHeaderCellOne {
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    padding-top: 40px;
    padding-left: 20px;
}

.hnFeedHeaderCellTwo {
    color: white;
    font-family: sans-serif;
    padding-left: 10px;
}

.hnFeedRowCell_0 {
    width: 20px;
}

.hnFeedRow {
    border-bottom: 1px solid #ccc;
    color: #333;
}

.hnFeedRowCell_1 {
    background-color: #fff;
    height: 45px;
    padding-left: 20px;
    font-size: 13pt;
}

.hnFeedRowLink {
    text-decoration: none;
    color: #333;
}

.hnFeedRowAuthor {
    color: #999;
}

.hnFeedRowCell_3 {
    width: 15px;
}

.hnFeedRowLButton {
    background-color: white;
    border: none;
    cursor: pointer;
}

.hnFeedRowLButtonImg {
    width: 15px;
}
