<table class="hnFeed">
    <tr>
        <table class="hnFeed">
            <th class="hnFeedHeader" colspan="5">
                <tr>
                    <td class="hnFeedHeaderCellOne">
                        <span>HN Feed</span>
                    </td>
                </tr>
                <tr>
                    <td class="hnFeedHeaderCellTwo">
                        <span>We &lt;3 hacker news!</span>
                    </td>
                </tr>
            </th>
        </table>
    </tr>
    <tr>
      <table *ngIf="article && article.hits" class="hnFeed">
          <tr *ngFor="let hit of article.hits">
              <td class="hnFeedRowCell_0"></td>
              <td class="hnFeedRow hnFeedRowCell_1">
                  <div>
                      <a class="hnFeedRowLink" href="{{hit.story_url == null ? hit.url : hit.story_url}}" target="_blank">
                          {{hit.story_title == null ? hit.title : hit.story_title}}.
                      </a>
                      <span class="hnFeedRowAuthor">- {{hit.author}}</span>
                  </div>
              </td>
              <td class="hnFeedRow">
                  {{hit.created_at | ChronologicalDatePipe}}
              </td>
              <td class="hnFeedRow">
                  <button class="hnFeedRowLButton" (click)="updateArticleData(hit._id || '')">
                      <img class="hnFeedRowLButtonImg" src="https://cdn2.iconfinder.com/data/icons/iconza-2/24/Trash-512.png" alt="Delete">
                  </button>
              </td>
          </tr>
      </table>
    </tr>
</table>
